@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
}

.content {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 90vh;
    width: 90vw;
}


/* Toggle to dark mode  */

.toggle_mode {
    position: relative;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: rgb(206, 205, 150);
    color: #0a0a0a !important;
}

.toggle_mode_active {
    background-color: #0a0a0a;
    color: rgb(206, 205, 150) !important;
}

.dark_mode {
    background-color: black;
    color: white;
}


/* Home portion */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 800px;
    height: 500px;
    left: 100px;
    top: 230px;
    background: linear-gradient(to right top, #7f85da, #087c2f);
    border-radius: 56px;
}

.intro h1 {
    position: relative;
    font-size: 3.4rem;
    font-weight: bold;
    color: #FFFF00;
    font-family: 'Limelight', cursive;
    margin-top: -20%;
    letter-spacing: 0.7rem;
    display: flex;
    flex-wrap: wrap;
}

.intro p {
    position: relative;
    font-size: 1.4rem;
    color: #310a73fc;
}